@charset "UTF-8";

/* CSS RESETS */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* GENERAL */
html {
    box-sizing: border-box;
}
* {
    box-sizing: inherit;
}
body {
    line-height: 1.4;
}

/* NAVBAR */
#navbar {
    background-color: #be3144;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}
.nav-list {
    display: flex;
    justify-content: center;
}
.nav-link {
    color: #F0F0F0;
    display: inline-block;
    text-decoration: none;
    padding: 2rem;
    font-size: 1.46rem;
    font-family: Poppins, sans-serif;
}

/* WELCOME SECTION */
#welcome-section {
    background: linear-gradient(62deg, #3a3d40 0%, #181719 100%);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.title-container {
    width: fit-content;
    text-align: center;
}
.title {
    color: #F0F0F0;
    font-size: 4rem;
    font-family: Raleway, sans-serif;
    font-weight: 700;
    margin: 1rem 2.2rem;
}
.subtitle {
    color: #be3144;
    font-family: Poppins, sans-serif;
    font-size: 2rem;
    font-style: italic;
    font-weight: 200;
}

/* PROJECTS SECTION */
#projects {
    background-color: #45567D;
    color: #F0F0F0;
    padding: 3.3rem 1rem;
}
.projects-title {
    font-family: Raleway, sans-serif;
    font-size: 2.6667rem;
    font-weight: 600;
    border-bottom: 1px solid #FFF;
    margin-bottom: 4rem;
    text-align: center;
}
.project-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    grid-gap: 4rem;
}
.project {
    background-color: #303841;
    border-radius: 5px;
    box-shadow: 1px 1px 2px rgb(0, 0, 0 / 50%);
    width: 100%;
    margin: 0 auto 4rem;
}
.project a {
    text-decoration: none;
}
.project-img {
    width: 100%;
}
.project-title {
    color: #F0F0F0;
    padding: 1.1rem 0.275rem;
    font-size: 1.3rem;
    font-family: Poppins, sans-serif;
    font-weight: 500;
    text-align: center;
    text-decoration: none;
}

#contacts {
    background-color: #303841;
    color: #F0F0F0;
    padding: 6.6rem 2.2rem;
    text-align: center;
}
.contacts-title {
    font-family: Raleway, sans-serif;
    font-size: 2.6667rem;
    font-weight: 600;
}
.contacts-subtitle {
    font-size: 1.2rem;
    font-family: Poppins, sans-serif;
    font-style: italic;
    font-weight: 200;
    margin: 1rem;
}
.contact-links {
    margin-top: 2.2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-weight: 500;
}
.contact-link {
    color: inherit;
    display: block;
    font-size: 1.6rem;
    font-family: Poppins, sans-serif;
    font-weight: 500;
    padding: .55rem 1.1rem;
    text-decoration: none;
    text-shadow: 2px 2px 1px #1f1f1f;
    transition: transform 0.3s ease-out;
    transition-duration: 0.3s;
}
.contact-link:active {
    transform: translateY(.5rem);
}

/* FOOTER */
.footer {
    background-color: #303841;
    border-top: 2px solid #be3144;
    color: #F0F0F0;
    padding: 1.1rem;
}
.footer p {
    margin: 1.1rem;
    font-size: 1.2rem;
    font-family: Poppins, sans-serif;
    text-align: center;
    width: fit-content;
}

/* MEDIA QUERIES */
@media (min-width: 31.25rem) {
    .nav-list {
        justify-content: flex-end;
    }
    .footer {
        display: flex;
        justify-content: space-around;
    }
    .footer p {
        text-align: left;
    }
}